*{
    margin: 0;
    padding: 0;
}
body{background-color: #F0F2F5;
     font-family: 'roboto', sans-serif;
    }
.container{
    position: absolute;
    top: 20%;
    left: 4%;
    font-size: 20px;
}

.container h2{
    color: #1877F2;
}header{
    width:1400px;
    height:60px;
    position: absolute;
    top:0%;
    left:0%;
    background-color: white;
}
main{
    font-family: 'roboto', sans-serif;
    width: 530px;
    height: 280px;
    margin-left: 27%;
    margin-top: 12%;
    background-color: #FFFFFF;
    border-radius: 6px;
}
.box2{
    font-size: 17px;
}
.link14 input{
    width: 470px;
    height: 30px;
    margin: 5px;
    margin-top:5px;
    margin-bottom: 25px;
    margin-left: 10px;
    padding: 12px 19px;
    border-radius: 5px;
}
.link14
{
    position: absolute;
    top: 43%;
    font-size: 50px;
}

.link15{
    text-align: center;
    background-color:#1877F2 ;
    width: 60px;
    padding: 8px;
    border-radius: 5px;
    margin-top: 30%;
    margin-left: 85%;

}
.link15 a{
    text-decoration: none;
    color: white;
    top: 26%;
    left: 34%;
    font-size: 20px;
}
.link16{
    text-align: center;
    background-color: #E4E6EB ;
    width: 60px;
    padding: 8px;
    border-radius: 5px;
    margin-top: -7.3%;
    margin-bottom: 25%;
    margin-left: 68%;

}
.link16 a{
    text-decoration: none;
    color: white;
    top: 0%;
    bottom: 0%;
    left: 34%;
    font-size: 20px;
}
.link10 input{
    width:27%;
    margin: 5px;
    margin-top:5px;
    margin-left: 470px;
    padding: 12px 19px;
    border-radius: 5px;

}
.link10{
    position: absolute;
    top: 0%;
}
.link11 input{
    width: 20%;
    margin:5px;
    margin-top: 0.5%;
    margin-left: 730px;
    padding: 12px 19px;
    border-radius: 5px;
}
.link11{
    position: absolute;
    top: 0%;
}
.link12{
    text-align: center;
    background-color:#1877F2 ;
    margin-top:0.5%;
    width: 60px;
    margin-left: 73%;
    padding: 8px;
    border-radius: 5px;

}
.link12 a{
    text-decoration: none;
    color: white;
    font-size: 21px;
}
.link13 input{
    text-align: center;
    margin-top:20%;
    margin-left: 40px;
    margin-right: 10px;
}
.link13{
    position: absolute;
    top: 45%;
    left: 80%;
}
.link13 a{
    text-decoration: none;
    color: #2171E2;
}
.link2 a{
    text-decoration: none;
    color: white;
}